
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Details</title>
     <link rel="stylesheet" href="/css/patient.css">
</head>

<body>
  <%- include('../partials/navbar') %>
    <h1>Patient Details</h1>

    <p>Name: <%= Patient.name %></p>

    <p>Gender: <%= Patient.Gender %></p>

    <p>Illness: <%= Patient.Illness %></p>

    <p>Medication: <%= Patient.Medication %></p>

    <p>Days Of Admission: <%= Patient.daysOfAdmission %></p>

    <p>Ward: <%= Patient.wards %></p>


<% if(Patient.IsReadyToDischarge) { %>
  <p>The patient is ready to be discharged</p>
<% } else { %>
  <p>The patient is not ready to be discharged</p>
<% } %>


    <br>

    <form action="/patient/<%= Patient._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Patient</button>
    </form>


    <br>

    <form action="/patient/<%= Patient._id %>/edit" method="GET">
        <button type="submit" id="edit-btn">Edit Patient</button>
    </form>


</body>
</html>